# Ignore the bin and obj directories
FileApp/dotnet/bin/
FileApp/dotnet/obj/

# Ignore the .user files
FileApp/dotnet/*.csproj.user

# Ignore global Visual Studio files
.vscode/
.vs/
*.sln.docstates

# Ignore build results
bin/
obj/

# Ignore local configuration
appsettings.Local.json
